
- if (post.title && !post.new)
  h1 Editing #{post.title}
- else
  h1 New Post

!= messages()

form#post(action=base + '/post' + (post.title && !post.new ? '/' + post.id : ''), method='post')
  - if (post.title && !post.new)
    input(type='hidden', name='_method', value='put')
  p
    label(for='post[title]') Title:
    input(type='text', name='post[title]', value=post.title)
  p
    label(for='post[body]') Body:
    textarea(name='post[body]')= post.body || ''
  p
    input(type='submit', value=post.title && !post.new ? 'Update' : 'Create')
- if (post.title && !post.new)
  form#post(action=base + '/post/' + post.id, method='post')
    input(type='hidden', name='_method', value='delete')
    input(type='submit', value='Delete')